// styles/filter-buttons.scss
.filter-buttons {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  &__button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #52796f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #354f52;
    }

    &--active {
      background-color: #52796f;
      color: #fff;
      
    }
  }
}
