.navbar {
  display: flex;
  width: 100;
  justify-content: space-between;
  align-items: center;
  background: #354f52;
  color: #fff;
  padding: 1rem 2rem;

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }

  &__item {}

  &__link {
    text-decoration: none;
    color: white;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
