.todo-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  display: flex;
  // justify-content: space-between;
  // background: #fdfdfd;
  padding: 12px;
  border-radius: 6px;
  // border: 1px solid #ddd;

  &__empty {
    text-align: center;
    font-style: italic;
    color: #888;
    margin-top: 1rem;
  }
}